{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm p-4">

            <h2 class="mb-4 text-center">
                ログイン
            </h2>

            <form method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <button class="btn btn-primary w-100">
                    ログイン
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}